<!DOCTYPE html>
<html>
<head>
  <title>MyMusicApp</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <% include layout %>
    <h1>Bem-vindo ao Rhytmo</h1>
    <a class="btn btn-primary" href="/users/login">Login</a>
    <% include layout %>
<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Rhytmo</h1>
  <p class="lead">Sua plataforma para gerenciar e descobrir novas músicas.</p>
  <hr class="my-4">
  <p>Faça login para começar.</p>
  <a class="btn btn-primary btn-lg" href="/users/login" role="button">Login</a>
</div>
</body>
</html>